.menu_button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: blue;
  position: relative;
  border-radius: 100%;
}

.menu_button span,
.menu_button span::before,
.menu_button span::after {
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
}

.menu_button span::before,
.menu_button span::after {
  content: "";
}

.menu_button span::before {
  transform: translateY(-5px);
}

.menu_button span::after {
  transform: translateY(5px);
}
