/* .nameUser {
  font-size: 14px;
  background-color: black;
} */

/* .message {
  background-color: #ffcc00;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
} */

.writeText {
  position: relative;
  width: 830px;
  height: 100px;
  background-color: #d9d9d9;
  text-align: center;
  align-items: center;
  opacity: 80%;
  border: 2px solid #ffcc02;
  left: -12px;
}

.inputField {
  position: relative;
  margin: 13px;
  height: 70px;
  width: 705px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 2px solid #c1c1c1;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  overflow-y: auto;
}

.text:focus {
  border-color: #fc3f1e;
  box-shadow: 0 0 8px rgba(26, 115, 232, 0.4);
}

.text::placeholder {
  color: #c1c1c1;
  font-size: 16px;
}

.containerForInput {
  position: absolute;
  top: 720px;
}

.sendButton {
  margin-right: 13px;
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-color: #ffcc00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #fc3f1e;
  color: rgb(255, 255, 255);
}

.messageBubble {
  display: block;
  max-width: 70%;
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 20px;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  position: relative;
  margin-bottom: 20px;
}

.message-sender img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.messageText {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  margin: 0;
  padding: 0;
}
.messageTime {
  position: absolute;
  font-size: 12px;
  margin-top: 5px;
  bottom: 2px;
  right: 10px;
}

.messageBubble_owner {
  background-color: aquamarine;
}
