.writeText {
  position: relative;
  width: 830px;
  height: 100px;
  background-color: #eeeeef;
  text-align: center;
  align-items: center;
  opacity: 80%;
  border: 2px solid #ffcc02;
  left: -12px;
}

.inputField {
  position: relative;
  margin: 13px;
  height: 70px;
  width: 705px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 2px solid #c1c1c1;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  overflow-y: auto;
}

.containerForInput {
  position: absolute;
  top: 720px;
}

.sendButton {
  margin-right: 13px;
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-color: #ffcc00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #fc3f1e;
  color: rgb(255, 255, 255);
}

.messageText {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  margin: 0;
  padding: 0;
}

.messageOuter {
  display: flex;
  /* background-color: #fc3f1e; */
  margin-bottom: -12px;
}

.messageOuterOwner {
  display: flex;
  /* background-color: #831401; */
  margin-bottom: -12px;
}

.messageAvatar {
  /* background-color: rgb(255, 213, 0); */
  padding-left: 6px;
  padding-right: 8px;
}

.messageAvatarOwner {
  /* background-color: rgb(102, 85, 1); */
  padding-left: 6px;
  padding-right: 8px;
}

.messageInner {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  /* background-color: rgb(17, 255, 0); */
}

.messageInnerOwner {
  flex: 1;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(5, 73, 0); */
}

.messageBubble {
  display: block;
  max-width: 70%;
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 20px;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  position: relative;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.messageBubbleOwner {
  display: block;
  max-width: 70%;
  background-color: rgb(33 33 33);
  color: #ffffff;
  border-radius: 20px;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  position: relative;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.messageActions {
  /* background-color: rgb(13, 0, 255); */
  width: 67px;
  padding-right: 5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messageActionsOwner {
  /* background-color: rgb(5, 1, 79); */
  width: 67px;
  padding-right: 5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messageSpacer {
  /* background-color: rgb(255, 0, 242); */
  flex: 1;
}

.messageSpacerOwner {
  /* background-color: rgb(75, 0, 71); */
  flex: 1;
}

.messageStatus {
  /* background-color: rgb(0, 242, 255); */
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.messageStatusOwner {
  /* background-color: rgb(0, 74, 78); */
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
