.container {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 100px;
  width: 100%;
  background-color: pink;
}

.header_wrapper {
  background-color: pink;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  font-size: 60px;
  display: inline-block;
}

.main_space {
  display: flex;
  background-color: rgb(180, 3, 3);
  height: 720px;
  width: 1200px;
  margin: 0 auto;
}

.contacts {
  background-color: blue;
  width: 31%;
  height: 100%;
  padding: 10px;
}

.chat {
  background-color: blueviolet;
  height: 100%;
  width: 69%;
  padding: 10px;
}
