.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 100px;
  width: 100%;
}

.header_wrapper {
  background-color: #fefeff;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo::first-letter {
  color: #fc3f1e;
}

.header_logo {
  color: #000000;
  font-size: 60px;
  display: inline-block;
}

.main_space {
  display: flex;
  height: 720px;
  width: 1200px;
  margin: 0 auto;
}

.contacts {
  background-color: #eeeeef;
  width: 31%;
  height: 100%;
  padding: 10px;
  border: 2px solid #ffcc02;
}

.chat {
  background-color: #d9d9d9;
  height: 100%;
  width: 69%;
  padding: 10px;
  border: 2px solid #ffcc02;
  border-left: none;
}
